<!DOCTYPE html>
<html>
    <head>
        <title>TodoList</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="assets/style.css">     
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <meta name="description" content="Todo List application"/>
    </head>
    
    <body>
        
        <!-- forget Password Section -->
        <!-- we will finish it in the future -->
        <div class="ForgetPassword" style="display: block;">
            <div class="form">
                <h1>Forget my password</h1>
                <form class="forgetPasswordForm">
                    <input  class="email2" type="email" placeholder="email">
                    <button class="forgetPasswordBtn" type="submit" name="submit">Reset my password</button>
                </form>
                <a class="haveaccount1" href="login"><p>SignIn</p></a>
                <p>-</p>
                <a class="createAcc1" href="register"><p>Create new account</p></a>
            </div>
        </div>

        <!-- forget Password Section -->
        
    </body>
</html>